<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация об Организациях</title>
</head>
<body>
    <h1>Организации</h1>
    Здесь будет представлена информация об охраняемых компанией организациях.

    Список:

    <form action="#" th:action="@{/remove}" th:object="${selected}" method="post">
        <p><select th:field ="*{id}" size="10">
            <option th:each="o : ${organizations}" th:value="${o.id}" th:text="${o.name + ' ' + o.legalAddress + ' ' + o.phoneNum}"></option>
        </select></p>
        <p><input type="submit" value="Удалить"/></p>
    </form>

    <form action="#" th:action="@{/organizations}" th:object="${organization}" method="post">
        <p>Название: <input type="text"  th:field="*{name}" /> </p>
        <p>Адрес: <input type="text" th:field="*{legalAddress}" /> </p>
        <p>Номер телефона: <input type="text" th:field="*{phoneNum}" /> </p>
        <input type="submit" value="Добавить"/>
        <input type="reset" value="Очистить"/>
    </form>


</body>
</html>